.hero__carousel-wrapper {
	grid-column: 8 / -1;
	grid-row: 7/12;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
	z-index: 4;
}

.hero__carousel {
	padding: 0 3rem;
	grid-column: 1 / span 12;
	grid-row: 1 / span 12;
	display: flex;
	align-items: center;
	z-index: 2;
	overflow: hidden;
	/* overflow:scroll; */
	mask-image: linear-gradient(
		to right,
		rgba(0, 0, 0, 1) 80%,
		rgba(0, 0, 0, 0) 100%
	);
}

.hero__carousel-inner {
	display: flex;
	gap: 1rem;
}

.carousel__button-left,
.carousel__button-right {
	padding: 1rem;
	z-index: 4;
	cursor: pointer;
}

.carousel__button {
	transition: color .3s ease;
}

.carousel__button:hover, .carousel__button:focus {
	color: #bcbbbb;
}

.carousel__button-left {
	grid-column: 1 /2;
	grid-row: 6/7;
}
.carousel__button-right {
	grid-column: 12 / 13;
	grid-row: 6/7;
}

.fa-chevron-left,
.fa-chevron-right {
	color: var(--white);
	font-size: 2rem;
}
