.hero__text {
	grid-column: 1 / 6;
	grid-row: 7/12;
	z-index: 2;
}

.hero__paragraph-one {
	font-size: var(--size20);
	font-weight: 600;
	color: var(--white);
	margin-bottom: -0.5rem;
}

.hero__heading {
	/* margin-bottom: 0.6rem; */
	font-family: var(--font-antonio);
	text-transform: uppercase;
	font-size: var(--size48);
	color: var(--white);
}

.hero__paragraph-two {
	margin-bottom: 2rem;
	font-size: var(--size20);
	color: var(--white);
}

.hero__button {
	padding: 0.5em 2em;
	background-color: var(--red);
	color: var(--white);
	cursor: pointer;
	font-size: var(--size24);
	transition: backgound-color 0.3s ease;
}

.hero__button:hover,
.hero__button:focus {
	background-color: #a53630;
}