*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	width: 80%;
}

.main {
	/* background-image: url(./assets/alexis-fauvet-vwGnTLkbgpI-unsplash.jpg); */
	overflow: hidden;
	
}

.navigation {
	margin-top: 1rem;
	justify-content: space-between;
}

.navigation__logo {
	font-family: var(--font-antonio);
	text-transform: uppercase;
	color: var(--dark);
	font-size: var(--size24);
}

.nav__second {
	justify-content: space-between;
}

.nav__second-item {
	color: var(--dark);
	font-size: var(--size20);
	margin-left: 3rem;
}

.hero {
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
	grid-auto-flow: column;
	overflow: visible;
}

.hero__img {
	display: flex;
	justify-content: center;
	align-items: center;
	/* transform: scale(0.7); */
	grid-column: 1 / span 12;
	grid-row: 1 / 12;
}

.hero__img img {
	height: 100%;
	
}




/* .hero__main {
	justify-content: space-between;
	grid-column: 1 / span 12;
	grid-row: 10/11;
	z-index: 2;
} */

.hero__text {
	grid-column: 1 / 6;
	grid-row: 7/12;
	z-index: 2;
}

.hero__paragraph-one {
	font-size: var(--size20);
	font-weight: 600;
	color: var(--white);
	margin-bottom: -0.5rem;
}

.hero__heading {
	/* margin-bottom: 0.6rem; */
	font-family: var(--font-antonio);
	text-transform: uppercase;
	font-size: var(--size48);
	color: var(--white);
}

.hero__paragraph-two {
	margin-bottom: 2rem;
	font-size: var(--size20);
	color: var(--white);
}

.hero__button {
	padding: 0.5em 2em;
	background-color: var(--red);
	color: var(--white);
	cursor: pointer;
	font-size: var(--size24);
	transition: backgound-color 0.3s ease;
}

.hero__button:hover,
.hero__button:focus {
	background-color: #a53630;
}

