*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	width: 80%;
}

.main {
	/* background-image: url(./assets/alexis-fauvet-vwGnTLkbgpI-unsplash.jpg); */
	overflow: hidden;
	
}



.hero {
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
	grid-auto-flow: column;
	overflow: visible;
}

.hero__img {
	display: flex;
	justify-content: center;
	align-items: center;
	/* transform: scale(0.7); */
	grid-column: 1 / span 12;
	grid-row: 1 / 12;
}

.hero__img img {
	height: 100%;
	
}




